.signup-page {
    /* border: 1px solid red; */
    height: 100vh;

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form {
    width: 400px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    gap: 15px;

    h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        border: 1px solid rgb(30, 28, 28);
        padding: 10px;
        outline: none;
    }

    button {
        width: 100%;
        height: 50px;
        border-radius: 6px;
        border: 1px solid rgb(30, 28, 28);
        padding: 10px;
        margin-bottom: 10px;
        outline: none;
        cursor: pointer;
        background-color: rgb(30, 28, 28);
        color: white;
        font-weight: 600;
        font-size: 18px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: transparent;
            border-color: rgb(30, 28, 28);
            color: rgb(30, 28, 28);
            transition: all 0.2s ease-in-out;
        }
    }
}
